<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@600&display=swap" rel="stylesheet">
<div class="about">
    <h2>¿Quién Soy?</h2>
    
    <div class="datos-personales">
        <div class="imagen-alumno">
            <div class="imagen-cuadrada">
                <img src="https://lyotopwjahfarqruzrts.supabase.co/storage/v1/object/public/tomas//lkdnprofile.png" alt="Imagen del Alumno" class="alumno-img">
            </div>
        </div>
        <div class="texto-alumno">
            <h3><span class="titulo-centro">Datos Personales</span></h3>
            <p>Nombre: Tomás Behrens</p>
            <p>Edad: 20</p>
            <p>Email: <span>tomasbehrens0gmail.com</span></p>
            <p>Descripción: Estudiante de la TUP en UTN FRA, trabajo como programador full-time.</p>
        </div>
    </div>
    
    <div class="explicacion-juego">
        <h3>Mi Juego</h3>
        <p></p>
        <img src="" alt="Imagen del Juego" class="juego-img">
    </div>
</div>