<form (ngSubmit)="onSubmit()" #loginForm="ngForm"> 
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

  <div class="titulo">
    Arranca a Jugar
  </div>

  <div class="input-container">
    <img src="" alt="Usuario" class="input-icon"> 
    <input id="username" [(ngModel)]="username" name="username" required type="email" placeholder="Correo">
  </div>

  <div class="input-container">
    <img src="" alt="Candado" class="input-icon">
    <input id="password" [(ngModel)]="password" name="password" required type="password" placeholder="Contraseña">
  </div>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <button type="submit">Iniciar sesión</button>
  <button type="button" (click)="fillFields()" class="rellenar-campos">Rellenar Campos</button>
</form>